div.ccm-page {
  font-family: 'Mplus 1p', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  color: #414141;
  word-wrap: break-word;
}
div.ccm-page h1,
div.ccm-page h2,
div.ccm-page h3,
div.ccm-page h4,
div.ccm-page h5,
div.ccm-page h6 {
  font-weight: 800;
}
div.ccm-page .h4,
div.ccm-page .h5,
div.ccm-page .h6,
div.ccm-page h4,
div.ccm-page h5,
div.ccm-page h6 {
  margin-top: 15px;
}
div.ccm-page h1 {
  font-size: 4.4rem;
}
div.ccm-page h2 {
  font-size: 4.0rem;
  font-weight: 400;
}
div.ccm-page h3 {
  font-size: 3.0rem;
  font-weight: 400;
}
div.ccm-page h4 {
  font-size: 2.4rem;
}
div.ccm-page h5 {
  font-size: 2.0rem;
}
div.ccm-page h6 {
  font-size: 1.6rem;
}
div.ccm-page img{
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
div.ccm-page p {
  line-height: 1.8;
}
div.ccm-page hr {
  border-top: 1px solid #68cbd9;
}
div.ccm-page table {
  width: 100%;
  max-width: 100%;
}
div.ccm-page table thead tr th,
div.ccm-page table thead tr td {
  font-weight: bold;
}
div.ccm-page table th,
div.ccm-page table td {
  padding: 5px 8px;
  vertical-align: top;
  border: 1px solid #ccc;
}
div.ccm-page a {
  color: #0275d8;
  transition: all 0.3s ease;
}
div.ccm-page a:hover {
  color: #014c8c;
}
div.ccm-page .header-wrap {
  position: relative;
}
div.ccm-page .logo-area h1 {
  font-size: 28px;
  color: #FFF;
  margin: 0;
  line-height: 1;
}
div.ccm-page .logo-area h1 .logo-top {
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  padding-bottom: 7px;
}
div.ccm-page .logo-area h1 .logo-bottom {
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
}
div.ccm-page .logo-area a {
  color: #fff;
  display: block;
  padding: 0px 70px 10px 15px;
  background-color: #68cbd9;
}
div.ccm-page .logo-area a:hover {
  text-decoration: none;
  background-color: #53a3ad;
}
div.ccm-page .header-links-area .social-links {
  margin-bottom: 10px;
}
div.ccm-page .header-links-area .social-links ul.list-inline {
  margin: 0px;
  padding: 0px;
  text-align: right;
}
div.ccm-page .header-links-area .social-links ul.list-inline li {
  padding: 0px;
  list-style-type: none;
  margin-left: 5px;
}
div.ccm-page .header-links-area .social-links a {
  padding: 0 6px;
}
div.ccm-page .header-links-area .social-links a:hover {
  border-radius: 12px;
  background-color: #68cbd9;
  color: #fff;
}
div.ccm-page .header-links-area .nav li {
  font-size: 16px;
}
div.ccm-page .header-links-area .nav li a {
  padding: 10px;
  border-radius: 5px;
}
div.ccm-page .header-links-area .nav li a:hover {
  background-color: #eaf5ff;
}
div.ccm-page .header-links-area .nav li ul {
  padding-left: 15px;
}
div.ccm-page .header-links-area .nav li ul li {
  display: block;
}
div.ccm-page .header-links-area .nav li ul li a {
  padding: 2px 10px;
}
div.ccm-page .header-links-area a {
  display: block;
  color: #68cbd9;
}
div.ccm-page .header-links-area .navbar-toggle {
  background-color: #eaf5ff;
  position: absolute;
  top: 0;
  right: 0;
}
div.ccm-page .header-links-area .navbar-toggle .icon-bar {
  background-color: #68cbd9;
}
div.ccm-page .header-links-area .navbar-collapse.in {
  padding: 15px;
  border-bottom: 1px solid #eaf5ff;
}
div.ccm-page .breadcrumb {
  margin: 0;
  background-color: transparent;
  padding: 10px 0;
  margin-bottom: 30px;
}
div.ccm-page .breadcrumb li + li:before {
  content: '\003e';
}
div.ccm-page .main-wrap h1 {
  text-align: center;
  padding-bottom: 10px;
  position: relative;
}
div.ccm-page .main-wrap h1 span {
  display: block;
  font-size: 1.6rem;
  margin: 20px 0 15px;
}
div.ccm-page .main-wrap h1:after {
  content: "";
  display: block;
  position: absolute;
  width: 50%;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0;
  border-bottom: 1px solid #68cbd9;
}
div.ccm-page .main-wrap .ccm-block-page-title-byline {
  text-align: center;
}
div.ccm-page .main-wrap .ccm-block-page-title-byline h1 {
  margin-bottom: 20px;
}
div.ccm-page .main-wrap h3 {
  padding-left: 10px;
  border-left: 8px solid #68cbd9;
}
div.ccm-page .main-wrap h4 {
  padding-bottom: 5px;
  border-bottom: 1px dashed #68cbd9;
}
div.ccm-page .circle-icon-wrap .circle-icon {
  margin: 0 auto;
  border-radius: 100px;
  width: 200px;
  height: 200px;
  background-color: #1d9cad;
  max-width: 100%;
  position: relative;
}
div.ccm-page .circle-icon-wrap .circle-icon i {
  text-align: center;
  color: #fff;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 1em;
  height: 1em;
  font-size: 100px;
}
div.ccm-page .circle-icon-wrap a:hover .circle-icon {
  opacity: .8;
}
div.ccm-page .circle-icon-wrap h3 {
  margin-top: 30px;
  padding: 0;
  border: none;
  font-size: 3.5rem;
  font-weight: 300;
  text-align: center;
  line-height: 1.2;
}
div.ccm-page .circle-icon-wrap p {
  line-height: 2.2;
}
div.ccm-page .area-accent {
  margin: 40px 0;
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: linear-gradient(-45deg, #ffffff 25%, #acd8de 25%, #acd8de 50%, #ffffff 50%, #ffffff 75%, #acd8de 75%, #acd8de);
  background-size: 2px 2px;
}
div.ccm-page .area-accent h2 {
  font-size: 4.5rem;
  margin: 15px;
}
div.ccm-page .area-accent h3 {
  font-size: 2.8rem;
  font-weight: 300;
  padding-left: 0;
  border-left: none;
}
div.ccm-page .area-accent p {
  margin: 15px;
  font-size: 1.4rem;
  line-height: 2.2;
}
div.ccm-page .news-wrap {
  border: 1px solid #acd8de;
  border-radius: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px;
}
div.ccm-page .news-wrap h1 {
  margin-top: 0;
  margin-bottom: 0;
}
div.ccm-page .news-wrap .news-list {
  margin: 0;
  font-size: 1.6rem;
  width: 100%;
}
div.ccm-page .news-wrap .news-list dt {
  padding-top: 20px;
  font-weight: 300;
}
div.ccm-page .news-list-wrap {
  font-size: 1.6rem;
}
div.ccm-page .news-list-wrap .ccm-pagination-wrapper {
  text-align: center;
  margin: 20px 0;
}
div.ccm-page .news-list-wrap .ccm-pagination-wrapper .pagination li a,
div.ccm-page .news-list-wrap .ccm-pagination-wrapper .pagination li span {
  margin: 0 4px;
  border-radius: 1.5em;
}
div.ccm-page .news-list-wrap .ccm-pagination-wrapper .pagination li a {
  color: #53a3ad;
  border: 1px solid #68cbd9;
}
div.ccm-page .news-list-wrap .ccm-pagination-wrapper .pagination li a:hover,
div.ccm-page .news-list-wrap .ccm-pagination-wrapper .pagination li a:active,
div.ccm-page .news-list-wrap .ccm-pagination-wrapper .pagination li a:focus,
div.ccm-page .news-list-wrap .ccm-pagination-wrapper .pagination li a.current {
  background-color: #eaf5ff;
}
div.ccm-page .news-list-wrap .ccm-pagination-wrapper .pagination li span {
  border-color: #bbb;
}
div.ccm-page .news-list-wrap .ccm-pagination-wrapper .pagination li.active span {
  color: #fff;
  border: 1px solid #68cbd9;
  background-color: #68cbd9;
}
div.ccm-page .news-list-page-entry,
div.ccm-page .news-list-page-entry-horizontal {
  padding: 25px 0;
  border-bottom: 1px dashed #68cbd9;
}
div.ccm-page .news-list-page-entry-horizontal .news-list-page-entry-thumbnail {
  margin-right: 15px;
}
div.ccm-page .news-list-page-entry-horizontal .news-list-page-entry-thumbnail,
div.ccm-page .news-list-page-entry-horizontal .news-list-page-entry-text {
  float: left;
}
div.ccm-page .news-list-title {
  font-weight: bold;
}
div.ccm-page .news-list-pages > div:last-child {
  border: none;
}
div.ccm-page .year-navi-wrap h4 {
  margin-bottom: 18px;
}
div.ccm-page .date-navi {
  list-style: none;
  margin: 0;
  padding: 0;
}
div.ccm-page .date-navi li {
  margin: 10px;
}
div.ccm-page .date-navi li:before {
  content: "\f0da";
  font-family: "FontAwesome";
  display: inline-block;
  margin-right: 5px;
  color: #68cbd9;
}
div.ccm-page .footer-wrap {
  background-color: #68cbd9;
  color: #fff;
  text-align: center;
}
div.ccm-page .footer-wrap a {
  color: #fff;
}
div.ccm-page .footer-wrap a:hover {
  color: #014c8c;
}
div.ccm-page .footer-wrap .nav {
  margin: 20px 5px;
}
div.ccm-page .footer-wrap .nav li {
  display: inline-block;
  font-size: 16px;
}
div.ccm-page .footer-wrap .nav li a:hover {
  background-color: #eaf5ff;
}
div.ccm-page .footer-wrap .copy {
  font-size: 1rem;
  padding: 10px;
}
@media (min-width: 768px) {
  div.ccm-page .logo-area,
  div.ccm-page .header-links-area {
    float: left;
  }
  div.ccm-page .logo-area {
    width: 30%;
  }
  div.ccm-page .logo-area a {
    padding: 0px 40px 10px 40px;
  }
  div.ccm-page .header-links-area {
    width: 70%;
  }
  div.ccm-page .header-links-area .social-links {
    margin-top: 10px;
  }
  div.ccm-page .header-links-area .nav li {
    display: inline-block;
  }
  div.ccm-page .header-links-area .nav li a {
    padding: 15px 20px;
  }
  div.ccm-page .header-links-area .nav li ul {
    visibility: hidden;
    cursor: pointer;
    opacity: 0;
    width: 200px;
    padding: 5px;
    position: absolute;
    top: 40px;
    left: 20px;
    z-index: 9;
    background-color: #fff;
    border: 1px solid #efefef;
    border-radius: 5px;
  }
  div.ccm-page .header-links-area .nav li ul li a {
    padding: 5px 10px;
  }
  div.ccm-page .header-links-area .nav li:hover ul {
    visibility: visible;
    opacity: 1;
  }
  div.ccm-page .main-wrap h1 {
    margin-top: 50px;
    margin-bottom: 60px;
  }
  div.ccm-page .circle-icon-wrap .circle-icon {
    border-radius: 125px;
    width: 250px;
    height: 250px;
  }
  div.ccm-page .circle-icon-wrap .circle-icon i {
    font-size: 125px;
  }
  div.ccm-page .area-accent {
    margin: 70px 0;
  }
  div.ccm-page .news-wrap {
    border-radius: 36px;
    margin-top: 80px;
    margin-bottom: 120px;
    padding: 40px;
  }
  div.ccm-page .news-wrap h1 {
    margin-top: 0;
    margin-bottom: 25px;
  }
  div.ccm-page .news-wrap .news-list {
    margin: 0;
    padding: 0 60px;
  }
  div.ccm-page .news-wrap .news-list dt {
    float: left;
    clear: both;
    width: 125px;
  }
  div.ccm-page .news-wrap .news-list dd {
    padding-top: 20px;
    margin-left: 125px;
  }
}
